<!-- DASHBOARD HEADER -->
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-sm-5">
    <h2><i class="fa fa-desktop"></i> &nbsp;<%= current_user.website_url %></h2>
    <small><i class="fa fa-times"></i> Non verificato. Verifica ora il tuo business.</small>
    <hr>
    <a href="/demoseo" class="btn btn-primary btn-sm">Cancella sito e ripeti analisi</a> &nbsp;
  </div>
  <div class="col-sm-4">

  </div>
  <div class="col-sm-3">
    <div class="widget navy-bg no-padding">
      <div class="p-m">
        <h1 class="m-xs"><%= @report.points %></h1>

        <h3 class="font-bold no-margins">
            Punteggio Footprint SEO
        </h3>
        <small>Ti consigliamo di incrementare fino a 73.</small>
      </div>
    </div>
  </div>
</div>
<!-- END DASHBOARD HEADER -->

<!-- SEO RESULTS -->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <!-- STRUCTURE CHECKS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Struttura del sito</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <% if @report.title && @report.title.length > 70 %>
          <h2>Titolo troppo lungo
            <div class="stat-percent text-danger"> <%= @report.title.length %> <i class="fa fa-times"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Il titolo della tua pagina è troppo lungo. Molti motori di ricerca troncano i risultati a 70 caratteri!</small>
          <hr>
          <% end %>
          <% if @report.meta_description && @report.meta_description.length > 160 %>
          <h2>Descrizione troppo lunga
            <div class="stat-percent text-danger"> <%= @report.meta_description.length %> <i class="fa fa-times"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> La descrizione della pagina è lunga. I motori di ricerca tendono a troncare i risultati a 160 caratteri.</small>
          <hr>
          <% elsif @report.meta_description && @report.meta_description == "" %>
          <h2>Descrizione assente
            <div class="stat-percent text-danger"> 0 <i class="fa fa-times"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Il tuo sito non ha una descrizione. I motori di ricerca avranno difficoltà a categorizzare il tuo sito.</small>
          <hr>
          <% end %>
          <h2>Parole chiave
            <div class="stat-percent text-muted"> <%= @report.body.split(', ').size %> <i class="fa fa-key"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Le parole chiave più frequenti sono: "<%= @report.body %>"</small>
          <hr>
          <% remaining_size = (@report.body.split(', ')-@report.title.gsub(/\W/,' ').split(' ').map(&:downcase)).size %>
          <% if remaining_size >= 2 %>
          <h2>Titolo non descrittivo
            <div class="stat-percent text-danger"> <%= remaining_size %> <i class="fa fa-times"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Delle 5 parole chiave più frequenti sul tuo sito, solo <%= 5-remaining_size %> sono presenti nel titolo.</small><br>
          <hr>
          <% end %>
          <% if !@report.robots %>
          <h2>File robots.txt assente
            <div class="stat-percent text-danger"> 0 <i class="fa fa-file-o"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Non abbiamo trovato il file robots.txt. Se non limiti che i motori di ricerca possono visitare, le performance nei rankings potrebbero risentirne.</small>
          <hr>
          <% end %>
          <% if !@report.sitemap %>
          <h2>Sitemap assente
            <div class="stat-percent text-danger"> 0 <i class="fa fa-sitemap"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Non abbiamo trovato un file sitemap. Il file sitemap XML è utile per comunicare la struttura del tuo sito ai motori di ricerca.</small>
          <hr>
          <% end %>
          <% if @report.alt_tags < 0.8 %>
          <h2>Usa "alt" più spesso nelle immagini
            <div class="stat-percent text-danger"> <%= @report.alt_tags*100.to_s + "%" %> <i class="fa fa-photo"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Usa l'attributo "alt" nelle immagini per fornire maggiori indicazioni sul contenuto nel caso l'immagine non venga caricata e per aumentare l'accessibilità del sito per gli screen readers.</small>
          <hr>
          <% end %>
          <% if @report.inline_style > 5 %>
          <h2>Usa i fogli di stile invece degli stili inline
            <div class="stat-percent text-danger"> <%= @report.inline_style %> <i class="fa fa-paint-brush"></i></div>
          </h2>
          <small><i class="fa fa-stack-exchange"></i> Gli stili inline rendono il codice meno riutilizzabile, modulare e comprensibile. Utilizza i fogli di stile per dichiarare delle proprietà.</small>
          <hr>
          <% end %>
        </div>
      </div>
    </div>
    <!-- END STRUCTURE CHECKS -->

    <!-- ORGANIC SEARCH RESULTS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Statistiche di ricerca</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <h3 ><a href="#"><%= @report.title[0..60] %>...</a></h3>
          <p class="text-navy"><%= current_user.website_url %></p>
          <p><%= @report.meta_description[0..160] %></p>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="widget style1 navy-bg" style="margin:0">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-list-ol fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                    <span> Popolarità </span>
                    <h2 class="font-bold"><%= @report.google_rank %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="widget style1 navy-bg" style="margin:0">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-file-text-o fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                    <span> Pagine su Google </span>
                    <h2 class="font-bold"><%= @report.google_index %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- END ORGANIC SEARCH CHECKS -->

  </div>
  <div class="row">

    <!-- STRUCTURE CHECKS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Sicurezza del sito</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <p>Nessuna analisi disponibile.</p>
        </div>
      </div>
    </div>
    <!-- END STRUCTURE CHECKS -->

    <!-- MOBILE CHECKS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Compatibilità mobile</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <p>Nessuna analisi disponibile.</p>
        </div>
      </div>
    </div>
    <!-- END MOBILE CHECKS -->

  </div>
</div>