<!-- DASHBOARD HEADER -->
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-sm-5">
    <h2><i class="fa fa-desktop"></i> &nbsp;<%= current_user.website_url %></h2>
    <small><i class="fa fa-times"></i> Non verificato. Verifica ora il tuo business.</small>
    <hr>
    <a href="/demoseo" class="btn btn-primary btn-sm">Cancella sito e ripeti analisi</a> &nbsp;
  </div>
  <div class="col-sm-4">

  </div>
  <div class="col-sm-3">
    <div class="widget navy-bg no-padding">
      <div class="p-m">
        <h1 class="m-xs"><%= @report.points %></h1>

        <h3 class="font-bold no-margins">
            Punteggio Footprint SEO
        </h3>
        <small>Ti consigliamo di incrementare fino a 73.</small>
      </div>
    </div>
  </div>
</div>
<!-- END DASHBOARD HEADER -->

<!-- SEO RESULTS -->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <!-- STRUCTURE CHECKS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Struttura del sito</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

          <% if @report.title && @report.title.length > 70 %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq1" class="faq-question">Titolo troppo lungo <i class="fa fa-caret-down"></i></a>
                <small>Riduci la lunghezza del titolo così che non venga troncato dai motori di ricerca.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger"><%= @report.title.length %> <i class="fa fa-times"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq1" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Molti motori di ricerca troncano la lunghezza del titolo a 70 caratteri o meno. Riducendo la lunghezza del titolo permetti agli utenti di vedere il titolo intero e di comprendere il contenuto del sito in base ai risultati organici di ricerca.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if @report.meta_description && @report.meta_description.length > 160 %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq2" class="faq-question">Descrizione troppo lunga <i class="fa fa-caret-down"></i></a>
                <small>Riduci la lunghezza della descrizione così che non venga troncato dai motori di ricerca.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger"><%= @report.meta_description.length %> <i class="fa fa-times"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq2" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Molti motori di ricerca troncano la lunghezza del titolo a 160 caratteri o meno. Riducendo la lunghezza della descrizione permetti agli utenti di vedere interamente la descrizione del sito sui motori di ricerca.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% elsif @report.meta_description && @report.meta_description == "" %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq3" class="faq-question">Descrizione assente <i class="fa fa-caret-down"></i></a>
                <small>Non abbiamo trovato una descrizione del sito. Aggiungine una al più presto.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="small font-bold">0 <i class="fa fa-times"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq3" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>La descrizione del sito può essere inserita tramite i <code>meta</code> tags. E' molto importante perché permette ai motori di ricerca di comprendere il contenuto del sito e fornisce un'anteprima agli utenti che visualizzano il tuo sito nei risultati organici di ricerca. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq4" class="faq-question">Parole chiave <i class="fa fa-caret-down"></i></a>
                <small><%= @report.body.split(', ').map(&:capitalize).join(' - ') %></small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-info"><%= @report.body.split(', ').size %> <i class="fa fa-key"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq4" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Le parole chiave del tuo sito sono parole significative che sono presenti in misura maggiore nel corpo della tua pagina. Qui puoi osservare se le parole che abbiamo individuato sono coerenti con il contenuto del tuo sito.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% remaining_size = (@report.body.split(', ')-@report.title.gsub(/\W/,' ').split(' ').map(&:downcase)).size %>
          <% if remaining_size >= 2 %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq5" class="faq-question">Titolo non descrittivo <i class="fa fa-caret-down"></i></a>
                <small>Delle 5 parole chiave più frequenti del tuo sito, solo <%= 5-remaining_size %> sono presenti nel titolo.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger"><%= remaining_size %> <i class="fa fa-times"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq5" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Il titolo della tua pagina dovrebbe riflettere i contenuti del tuo sito. Abbiamo rilevato che <%= remaining_size %> parole chiave non sono presenti nel tuo titolo. Questo potrebbe penalizzare il tuo ranking nei risultati di ricerca e impedire che il tuo sito venga categorizzato correttamente.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if !@report.robots %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq6" class="faq-question">File robots.txt assente <i class="fa fa-caret-down"></i></a>
                <small>Non abbiamo trovato il file robots.txt nella root directory del tuo sito.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger">0 <i class="fa fa-file-o"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq6" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Il file robots.txt è un file di testo che specifica le pagine che un motore di ricerca può o non può indicizzare. Inoltre può specificare la posizione della Sitemap. Se non inserito, i motori di ricerca potrebbero visitare pagine che non sono intese per il pubblico. Le performance nei rankings potrebbero risentirne.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if !@report.sitemap %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq7" class="faq-question">Sitemap non trovata <i class="fa fa-caret-down"></i></a>
                <small>Non abbiamo trovato una sitemap nel tuo sito.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger">0 <i class="fa fa-sitemap"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq7" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Il file sitemap.xml serve per indicare ai motori di ricerca come devono effettuare il crawling del tuo sito, mostrando la struttura della tua applicazione tramite i link che collegano le varie pagine. Inserisci una sitemap per facilitare la definizione della struttura da parte dei motori di ricerca.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if @report.alt_tags < 0.8 %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq8" class="faq-question">Utilizza l'attributo "alt" nelle immagini <i class="fa fa-caret-down"></i></a>
                <small>Solo il <%= @report.alt_tags*100 %>% delle tue immagini possiede l'attributo "alt".</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger"> <%= @report.alt_tags*100 %>% <i class="fa fa-photo"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq8" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>L'attributo "alt" è il testo che viene visualizzato quando l'immagine non viene caricata per qualsiasi motivo (immagine non trovata oppure utilizzo di screen readers). Utilizza sempre l'attributo "alt" per aumentare l'accessibilità del tuo sito.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if @report.inline_style > 5 %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq9" class="faq-question">Utilizza i fogli di stile invece degli stili inline <i class="fa fa-caret-down"></i></a>
                <small>Abbiamo trovato un numero elevato di stili inline che compromettono la modularità del codice.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger"><%= @report.inline_style %> <i class="fa fa-paint-brush"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq9" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Gli stili inline sono sconsigliati in quanto rendono il codice meno riutilizzabile e l'applicazione meno modulare. Si consiglia di incapsulare le proprietà CSS all'interno di appositi selettori nel foglio di stile.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if !@report.favicon_url %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq10" class="faq-question">Favicon non trovato <i class="fa fa-caret-down"></i></a>
                <small>Non siamo riusciti a trovare un tag che dichiarasse un favicon né un favicon di default.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger">0 <i class="fa fa-times"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq10" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>La favicon è un'icona che identifica il logo del sito nelle schede di navigazione e tra i preferiti. Rende la navigazione più accessibile e il tuo brand più riconoscibile. Crea una favicon il prima possibile e aggiungila al tuo sito.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if !@report.google_analytics %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq11" class="faq-question">Google Analytics non trovato <i class="fa fa-caret-down"></i></a>
                <small>Non abbiamo trovato il tracker asincrono di Google Analytics nella tua home page.</small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger">0 <i class="fa fa-code"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq11" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Collegare la tua pagina web a Google Analytics ti consente di ottenere informazioni dettagliate sui visitatori della tua pagina, compresi dati demografici e geografici, tempo di permanenza su ciascuna pagina, pagine visualizzate, bounce rate e altro. Inserisci il tracker di Google Analytics nel tuo sito al più presto.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if @report.deprecated_tags && @report.deprecated_tags.split(' - ').size > 0 %>
          <div class="faq-item">
            <div class="row">
              <div class="col-md-10">
                <a data-toggle="collapse" href="#faq12" class="faq-question">Stai utilizzando elementi HTML deprecati <i class="fa fa-caret-down"></i></a>
                <small><%= @report.deprecated_tags %></small>
              </div>
              <div class="col-md-2 text-right">
                <span class="font-bold text-danger"><%= @report.deprecated_tags.split(' - ').size %> <i class="fa fa-code"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq12" class="panel-collapse collapse ">
                  <div class="faq-answer">
                    <p>Abbiamo trovato all'interno della tua pagina dei tag HTML deprecati (dalla versione 4 in poi). Ti sconsigliamo di utilizzarli in quanto la loro funzionalità non è garantita in futuro e in quanto sono disponibili soluzioni migliori (come nuovi tags oppure i fogli di stile). Utilizza la lista fornita sopra per sostituire i tag deprecati con alternative migliori.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>

    </div>
    <!-- END STRUCTURE CHECKS -->

    <!-- ORGANIC SEARCH RESULTS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Statistiche di ricerca</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <h3 ><a href="#"><%= @report.title[0..60] %>...</a></h3>
          <p class="text-navy"><%= current_user.website_url %></p>
          <p><%= @report.meta_description[0..160] %></p>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="widget style1 navy-bg" style="margin:0">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-list-ol fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                    <span> Popolarità </span>
                    <h2 class="font-bold"><%= @report.google_rank %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="widget style1 navy-bg" style="margin:0">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-file-text-o fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                    <span> Pagine su Google </span>
                    <h2 class="font-bold"><%= @report.google_index %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- END ORGANIC SEARCH CHECKS -->

  </div>
  <div class="row">

    <!-- STRUCTURE CHECKS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Sicurezza del sito</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <p>Nessuna analisi disponibile.</p>
        </div>
      </div>
    </div>
    <!-- END STRUCTURE CHECKS -->

    <!-- MOBILE CHECKS -->
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Compatibilità mobile</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <p>Nessuna analisi disponibile.</p>
        </div>
      </div>
    </div>
    <!-- END MOBILE CHECKS -->

  </div>
</div>